#container {
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    width: 360px;
    height: 640px;
    position: relative;
    font-family: 'Rambla';
}

.blueborder {
    border: 1px solid #4478A9;
    border-radius: 5px;
}

.center-text {
    text-align: center;
}

.bluetext {
    color: #4478A9;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

#title {
    text-align: center;
    margin-top: 0.5em;
    min-width: 100px;
}

#list-component {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
}

.list-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list {
    width: 85px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 10px;
}

.plus {
    float: right;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 1.5em;
    margin-right: 10px;
}

.list:hover, .plus:hover, #edit-button:hover, #back-button:hover, .product-amount-control:hover,
#new-product-button:hover, #pin-button:hover, .big-button:hover {
    background-color: #4478A9;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

#list-view-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    font-size: 1.5em;
    align-items: center;
}

#list-name {
    font-weight: bold;
    font-size: 0.7em;
    outline: none;
    width: 50%;
    height: 50px;
}

#edit-button {
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}


.product-amount, #checked, .product-amount-control {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#checked {
    accent-color: #4478A9;
    outline: 1px solid #4478A9;
    border: none;
}

.product {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#product-list {
    width: 90%;
    text-align: left;
    max-height: 400px;
    overflow: scroll;
}

#product-list::-webkit-scrollbar {
    display: none;
}

.name-and-category {
    font-weight: 400;
}

#back-button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.product-name {
    font-size: 1.5em;
}

.category-name {
    font-size: 0.7em;
    margin-top: -25px;
    margin-left: 7px;
}

.product-view-items {
    display: flex;
    flex-direction: row;
}

#new-product-button {
    text-align: center;
    width: 200px;
    height: 40px;
    line-height: 40px;
}

#list-controls {
    display: flex;
    flex-direction: row;
    float: right;
}

#pin-button {
    width: 55px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 20px;
}

#new-product-form {
    margin-top: 40px;
    width: 90%;
}

.new-product-input {
    width: 200px;
    height: 50px;
    outline: none;
}

#product-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    width: 50%;
}

.big-button {
    width: 70px;
    height: 45px;
    line-height: 45px;
}

